body{
    background-color: rgb(239,239,239);
    margin: 0px;
}
a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
[data-x].active{
    outline: 1px solid red;
}
[data-x].offset{
    transform: translateY(100px);
}
[data-x]{
    transform: translateY(0);
    animation: all 3s;
}
.header{
    color: #c1bebc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    transition: all 1s;
}
.header.sticky{
    background: rgba(255,255,255, 1);
    padding: 10px 0;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    color: #666;
    z-index: 1;
}
.header-inner{
    padding: 10px 16px;
}
.header .logo{
    font-family: "Fredoka One";
    font-size: 26px;
    float: left;
}
.header .logo .rs{
    color: #e6686a;
    margin-right: 4px; 
}
.header .logo .card{
    color: #9a9da2;
}
.header nav{
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: bold;
    float: right; 
}
.header nav>ul{
    list-style: none;
    padding: none;
    margin: none;
}
.header nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}
.header nav>ul>li>a{
    text-decoration: none;
    color: inherit;
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
    position: relative;
}
.header nav>ul>li.active>a::after,
.header nav>ul>li.highlight>a::after{
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #e6686a; 
    animation: menuSlide 0.3s; 
}
.header .submenu{
    cursor: pointer; 
    display: none;
    list-style: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    color: #666;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}
.header .submenu>li{
    white-space: nowrap;/*规定段落中的文本不进行换行*/
    padding: 5px 5px;
}
.header li.active>.submenu{
    display: block;
    animation: submenuSlide 0.3s;
}
@keyframes menuSlide{
    0%{width: 0;}
    100%{width: 100%;}
}
@keyframes submenuSlide{
    0%{margin-right: 100%;}
    100%{margin-right: 0%;}
}
.banner{
    background-image: url(./img/rs-cover.jpg);
    height: 514px;
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    height: 514px;
    background-color: rgba(0,0,0,0.8);
}
.userCard{
    font-family: "Open Sans";
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    margin-top: -360px;   
}
.userCard .theTop{
    padding-left: 50px;
    padding-top: 56px;
    margin-bottom: 40px;
}
.userCard .picture{
    width: 299px;
    height: 347px;
    float: left;
    padding-right: 64px;
}
.userCard .profile{
    float: left;
}
.userCard .profile .welcome{
    background: rgb(230,104,106);
    font-size: 14px;
    color: #fff;
    display: inline-block;
    padding: 5px 12px;
    position: relative;
    margin-bottom: 28px;
}
.userCard .profile .welcome .triangle{
    border: 10px solid transparent;
    width: 0;
    border-left-color: rgb(230,104,106);
    border-top: 0;
    display: block;
    position: absolute;
    left: 6px;
    top: 100%;
}
.userCard .profile h1{
    font-size: 34px;
    color: rgb(62,69,81);
    margin-bottom: 5px;
}
.userCard .profile p{
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}
.userCard .profile hr{
    border: none;
    height: 0;
    border-top: 1px #dedede solid;
    margin-bottom: 20px;
}
.userCard .profile dl dt,
.userCard .profile dl dd{
    float: left;
    padding: 7px 0;
}
.userCard .profile dl dt{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    width: 30%;
}
.userCard .profile dl dd{
    font-size: 15px;
    font-weight: 320;
    color: #9da0a7;
    width: 70%;
}
.userCard .media{
    background: rgb(230,104,106);
    text-align: center;
}
.userCard .media a{
    width: 44px;
    border-radius: 50%;
    display: inline-block;
    margin: 20px 20px;
    padding: 11px 0;
}
.userCard .media svg{
    width: 22px;
    height: 22px;
    fill: white;
    vertical-align: top;
}
.userCard .media a:hover{
    background: rgba(0, 0, 0, 0.1);
}
.btn-wrap{
    text-align: center;
}
.btn-wrap .btn{
    font-family: "Open Sans";
    font-size: 15px; 
    color: rgb(62,69,81);
    border: 1px solid #cbcdcf;
    border-radius: 2px;
    padding: 19px 90px;
    display: inline-block;
    margin: 34px 0;
    transition: box-shadow 1s;
}
.btn-wrap .btn:hover{
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    transition: box-shadow 1s; 
}
.selfIntroduction{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 30px;
    margin-bottom: 76px;
    color: #333;
}
.skills{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 76px;
    font-family: "open sans";
}
.skills h2{
    color: #3d4451;
    font-size: 34px;
    text-align: center;
    margin-bottom: 24px;
}
.skills ol{
    background: #fff;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    list-style: none;
    padding: 22px 35px;
}
.skills ol>li{
    font-size: 14px;
    color: rgb(61, 68, 81);
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 20px 15px;
}
.skills .progressBar{
    height: 5px;
    background: rgb(250,225,225);
    border-radius: 4px;
    margin-top: 6px;
    overflow: hidden;
}
.skills .progressBar>.progress{
    height: 100%;
    width: 80%;
    background: rgb(230,104,106);
    border-radius: 4px;
    transform: translateX(0);
    transition: all 1s;
}
.skills.offset .progressBar>.progress{
    transform: translateX(-100%);
}
.portfolio{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto; 
    font-family: "open sans"; 
    text-align: center; 
}
.portfolio h2{
    color: #3d4451;
    font-size: 34px;
    text-align: center; 
    margin-bottom: 30px; 
}
.portfolio nav{ 
    text-align: center;
    display: inline-block;
    vertical-align: top;
    color: #000;
}
.portfolio nav>ol{
    color: #000;
    font-size: 13px;
    font-weight: 600;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
.portfolio nav>ol>li{
    float: left;
    padding-right: 50px;
    cursor:pointer;
}
.portfolio nav>ol>li:nth-child(3){
    padding-right: 0;
}
.portfolio nav .bar{
    height: 4px;
    background: #fff;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 30px;
}
.portfolio nav .bar-inner{
    height: 100%;
    background: rgb(230, 104, 106);
    border-radius: 4px;
    width: 14%;
    transition: all 0.5s;
}
.portfolio nav .bar.state-1 .bar-inner{
    margin-left: 0;
    width: 14%;
}
.portfolio nav .bar.state-2 .bar-inner{
    margin-left: 74px;
    width: 14%;
}
.portfolio nav .bar.state-3 .bar-inner{
    margin-left: 150px;
    width: 34%;
}
.portfolio .works{
    height: 597px;
    position: relative;
    margin-bottom: 100px;
}
.portfolio .works .big,
.portfolio .works .small1,
.portfolio .works .small2{
    position: absolute;
    padding: 0 10px;
    margin-bottom: 20px;
}
.portfolio .works .big{
    height: 576px;
    overflow: hidden;
    left: 0;
}
.portfolio .works .small1{
    height: 278px;
    overflow: hidden;
    right: 0;
}
.portfolio .works .small2{
    height: 278px;
    overflow: hidden;
    right: 0;
    top: 298px;
}