body{
    background-color: rgb(239,239,239);
    margin: 0px;
}
a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header-inner{
    margin-top: 14px;
    padding: 11px 16px;
}
.header .logo{
    font-family: "Hiragino Kaku Gothic Std";
    font-size: 24px;
    float: left;
}
.header .logo .rs{
    color: #e6686a;
    margin-right: 4px; 
}
.header .logo .card{
    color: #9a9da2;
}
.header nav{
    font-family: "Open Sans";
    float: right; 
}
.header nav>ul{
    list-style: none;
    padding: none;
    margin: none;
}
.header nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 6px;
}
.header nav>ul>li>a{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #c1bebc;
    padding-top: 6px;
    padding-bottom: 6px;
}
.header nav>ul>li>a:hover{
    border-bottom: 3px solid #e6686a;
}
.banner{
    background-image: url(./img/rs-cover.jpg);
    height: 514px;
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    height: 514px;
    background-color: rgba(0,0,0,0.8);
}
.userCard{
    font-family: "Open Sans";
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.userCard .theTop{
    padding-left: 50px;
    padding-top: 56px;
    margin-bottom: 40px;
}
.userCard .picture{
    width: 299px;
    height: 347px;
    float: left;
    padding-right: 64px;
}
.userCard .profile{
    float: left;
}
.userCard .profile .welcome{
    background: rgb(230,104,106);
    font-size: 14px;
    color: #fff;
    display: inline-block;
    padding: 5px 12px;
    position: relative;
    margin-bottom: 28px;
}
.userCard .profile .welcome .triangle{
    border: 10px solid transparent;
    width: 0;
    border-left-color: rgb(230,104,106);
    border-top: 0;
    display: block;
    position: absolute;
    left: 6px;
    top: 100%;
}
.userCard .profile h1{
    font-size: 34px;
    color: rgb(62,69,81);
    margin-bottom: 5px;
}
.userCard .profile p{
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}
.userCard .profile hr{
    border: none;
    height: 0;
    border-top: 1px #dedede solid;
    margin-bottom: 20px;
}
.userCard .profile dl dt,
.userCard .profile dl dd{
    float: left;
    padding: 7px 0;
}
.userCard .profile dl dt{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    width: 30%;
}
.userCard .profile dl dd{
    font-size: 15px;
    font-weight: 320;
    color: #9da0a7;
    width: 70%;
}
.userCard .media{
    background: rgb(230,104,106);
    text-align: center;
}
.userCard .media a{
    width: 44px;
    border-radius: 50%;
    display: inline-block;
    margin: 20px 20px;
    padding: 11px 0;
}
.userCard .media svg{
    width: 22px;
    height: 22px;
    fill: white;
    vertical-align: top;
}
.userCard .media a:hover{
    background: rgba(0, 0, 0, 0.1);
}